.col{
    border: 5px solid red;
}
.tick{
    height: 20px;
    width: 20px;
}
.card:hover {
    transform: scale(1.02);
    /* //box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  }
  .card {
    box-shadow: 0 0 4px rgba(155, 143, 143, 0.3);
    transition: all 0.3s ease-in-out;
    border: radius -5px;;
  }
  .card button{
    transition: all 0.3s ease-in-out;

  }
  .card button:hover{
    background-color:#ffffff;
  }